h1{ font-weight: bold; color:green;}


blockquote{border:1px solid white; 
text-align:center;
margin-left:0;
}

.wrap{
background-color:#481708;
margin:auto; 
width:800px;
}

.main-nav, h2 {
display: inline;
}

.main-nav li {
	display: inline;
	padding-right: 25px;
}

body {
background-color:#1D1D1D;
font-family:sans-serif;
font-size:12px;
font-weight:bold;}